{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load account %}
{% load escapejson %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon timeline image by Adrien Coquet, https://thenounproject.com/coquet_adrien/ -->
  {% with favicon="assets/favicon.png" %}
    {% thumbnail favicon "64x64" as thumb %}
      <link rel='icon' href='{{thumb.url}}' />
    {% endthumbnail %}
    {% thumbnail favicon "60x60" as thumb %}
      <link rel='apple-touch-icon' sizes="60x60" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "72x72" as thumb %}
      <link rel='apple-touch-icon' sizes="72x72" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "120x120" as thumb %}
      <link rel='apple-touch-icon' sizes="120x120" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "152x152" as thumb %}
      <link rel='apple-touch-icon' sizes="152x152" href='{{ thumb.url }}' />
    {% endthumbnail %}
  {% endwith %}
  <title>
    {% trans "Timelines!" as default_title %}
    {% block title %}{% firstof title default_title %}{% endblock %}
    {% block site_title %} - {{request.site.name}}{% endblock %}
  </title>
  {% block styles %}{% render_bundle 'main' 'css' %}{% endblock %}
</head>
<body>
<div id='wrapper'>
  <div id='body'>
    {% block navbar %}
      <div id='navbar'></div>
    {% endblock %}
    {% block messages %}
      {% if messages %}
        <div class='messages container'>
          {% for message in messages %}
            <div role='alert'
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                class='alert alert-dismissible alert-danger fade show'
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                class='alert alert-dismissible alert-warning fade show'
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                class='alert alert-dismissible alert-success fade show'
              {% else %}
                class='alert alert-dismissible alert-info fade show'
              {% endif %}
            >
              <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endblock %}

    {% block main %}
      {% block content %}
        <div id='app'></div>
      {% endblock %}
    {% endblock %}
  </div>
  <footer>
    {% block footer %}
      <div class='footer'>
        {% comment %}
          <div class='container section'>
            <div class='text-center'>
              {% thumbnail "assets/logo.png" "x38" format="PNG" as logo %}
                <img src='{{ logo.url }}' alt='{{ request.site.name }}' />
                {% endthumbnail %}
            </div>
            <div class='text-center social-icons'>
              <a href="#" class='social-icon'><i class="fa fa-facebook"></i></a>
              <a href="#" class='social-icon'><i class="fa fa-twitter"></i></a>
              <a href="#" class='social-icon'><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        {% endcomment %}
      </div>
    {% endblock %}
  </footer>
</div>
{% block scripts %}
<script type='text/javascript'>
{% if initial_state %}
  window.__INITIAL_STATE__ = {{ initial_state|escapejson }};
{% endif %}
  window.__AUTH__ = {{ auth|escapejson }};
  window.__SETTINGS__ = {{ public_settings|escapejson }};
</script>
  {% render_bundle 'main' 'js' %}
{% endblock %}
</body>
</html>
