{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load escapejson %}

{% block styles %}
  <link rel='stylesheet' href='https://cdn.knightlab.com/libs/timeline3/3.6.6/css/timeline.css' />
  {% render_bundle 'readonly' 'css' %}
{% endblock %}

{% block title %}{{ timeline.name }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <div id='embed'></div>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='https://cdn.knightlab.com/libs/timeline3/3.6.6/js/timeline.js'></script>
  <script type='text/javascript'>
    var TIMELINE_DATA = {{timeline_data|escapejson}};
  </script>
  {% render_bundle 'readonly' 'js' %}
{% endblock %}
