{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block styles %}
  {% render_bundle 'readonly' 'css' %}
{% endblock %}

{% block title %}Permission denied{% endblock %}

{% block content %}
<div class='container'>
  <div class='alert alert-danger'>
    This timeline is only viewable by some logged in users. To view it, ask the
    timeline owner to grant you permission.
  </div>
</div>
{% endblock %}
