.groups > .container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.group-editor {
  .name h4 {
    float: left;
    margin-right: 1rem;
  }
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
}
