.hr-break {
  padding-top: 2em;
  padding-bottom: 1.5em;
  & div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    & span {
      font-style: italic;
      background: #fff;
      padding: 0 10px;
    }
  }
}

.messages {
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  opacity: 0.9;
}

.account-nav {
  z-index: 10;
  .nav {
    position: absolute;
    right: 0;
  }
}

.navbar-outer {
  background-color: black;
  a { color: white; }
  .dropdown-item { color: #292b2c; }
}

.flex-navbar {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;

  .subnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-item {
    margin-left: 0.5rem;
  }
}

.connection {
  position: absolute;
  z-index: 1000000;
  left: 0;
  top: 1em;
  width: 100%;
  text-align: center;
  &.open {
    pointer-events: none;
  }
  & > div {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 10px #000;
    border-radius: 5px;
    padding: 0.2em 1em;
    text-align: center;
    opacity: 1;
  }
  &.open > div {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
}

.permissions {
  &.compact {
    .subheadline {
      font-size: 0.8rem;
      padding-left: 2rem;
      color: #666;
      i.fa {
        padding-right: 0;
      }
    }
    .you {
      font-weight: bold;
    }
    .popover-underline {
      border-bottom: 1px dashed #666;
    }
  }
  &.full {
    .who-edit-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      & > * {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    .who-selector {
      position: relative;
      width: 250px;
    }
    .who-display {
      .image {
        margin-right: 0.5rem;
      }
    }
    .who-expiration {
      width: 135px;
    }
    .roles.readonly {
      display: table;
      .who-reader-row {
        display: table-row;
      }
      .who-reader-row > * {
        display: table-cell;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

.helpdoc {
  white-space: pre-wrap;
  .admin-edit {
    color: #090;
  }

  &.editable:hover {
    outline: 1px dashed #cdc;
    .admin-edit {
      visibility: visible;
    }
  }
}
