/*
 * Sticky footer (table strategy)
 */
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
}
#wrapper {
  display: table;
}
#body, footer {
  display: table-row;
}
footer {
  height: 1px;
  width: 100%;
}
#body {
  height: auto;
}

/*
 * Theme footer styles
 */
.footer {
}
