.timeline-editor {
  left: 0;
  top: 0;
}

$timeline-edit-bar-height: 3rem;

.timeline-editor-bar {
  height: $timeline-edit-bar-height;
  .brand {
    cursor: pointer;
    font-size: 1rem;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
  }
}
.timeline-edit-nav-toggler {
  $size: 32px;
  $toggler-padding-x: 0.7rem;
  $toggler-padding-y: 0.5rem;
  $nav-link-color: rgba(0,0,0,1);
  width: calc(#{$size} + #{$toggler-padding-x*2});
  height: calc(#{$size} + #{$toggler-padding-y*2});
  padding: $toggler-padding-x $toggler-padding-y;
  background-position: $toggler-padding-x $toggler-padding-y;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 #{$size} #{$size}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$nav-link-color}' stroke-width='3.5' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: $size $size;
  &, &:active, &:focus { border: none; }
  cursor: pointer;
}
.timeline-editor-viewer {
  height: calc(100vh - #{$timeline-edit-bar-height} - 5px);
  .tl-timeline {
    height: 100%;
  }
}
.nav-drawer {
  .header {
    padding-left: 0.35rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  hr {
    margin: 0.5rem 0;
    padding: 0;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    i.fa {
      padding-right: 1rem;
    }
  }
  a.nav-link {
    color: black;
    &:hover { background-color: #eee; }
  }
  span.nav-link {
    color: #666;
  }
  position: absolute;
  z-index: 1000;
  top: 0;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  transition-property: left, right, top, opacity, visibility;
  transition-timing-function: ease;
  transition-duration: 200ms;

  visibility: hidden;
  opacity: 0;
  display: block;
  visibility: hidden;
  left: -5px;
  right: auto;

  &.in {
    opacity: 1;
    visibility: visible;
    left: 0;
    right: auto;
  }

}
.background-chooser .block-picker {
  border: 1px solid #ddd;
}

.category-color-editor {
  .swatch {
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    display: inline-block;
  }
  .color-picker-holder {
    position: relative;
    & > div {
      position: absolute;
      right: 10px;
      z-index: 1000;
    }
  }
}

.form-slide-editor {
  .form-group.row > .form-control-label {
    font-weight: bold;
    text-align: right;
  }
}

#timeline-permissions-modal {
  .modal-dialog {
    max-width: 940px;
  }
}
#modal-slide-adder, #modal-slide-editor {
  .modal-dialog {
    max-width: 722px;
  }
}
  
