.in-place-editor {
  padding: 0.2rem;
  position: relative;
  &.editable:hover {
    cursor: pointer;
    padding: calc(0.2rem - 2px);
    background-color: #ffe;
    border: 2px inset #eee;
    &:after {
      content: '\270e';
      position: absolute;
      background-color: #ffe;
      z-index: 1;
      right: -1rem;
      top: 0;
    }
  }
}

.in-place-editor-form {
  position: absolute;
  background-color: white;
  left: 0;
  top: 2rem;
  width: 260px;
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);

  $arrow-width: 16px;
  .arrow-up {
    position: absolute;
    top: -$arrow-width;
    left: 1rem;
    width: $arrow-width;
    height: $arrow-width;
    overflow: hidden;
    box-shadow: 0 $arrow-width/6 $arrow-width/10 -#{$arrow-width + 1px} rgba(255,0,0,1);
    &:after {
      content: "";
      position: absolute;
      width: $arrow-width/2;
      height: $arrow-width/2;
      background: white;
      transform: rotate(45deg);
      top: 3*$arrow-width/4;
      left: $arrow-width/4;
      box-shadow: -1px -1px $arrow-width/2 -2px rgba(0,0,0,0.5);
    }
  }
}
