.search-within-timeline {
  padding: 0.2rem;
  .toggle-search {
    position: relative;
    color: black;
  }

  $arrow-width: 16px;
  .arrow-up {
    position: absolute;
    top: 0.6rem;
    left: 0rem;
    z-index: 1001;
    width: $arrow-width;
    height: $arrow-width;
    overflow: hidden;
    box-shadow: 0 $arrow-width/6 $arrow-width/10 -#{$arrow-width + 1px} rgba(255,0,0,1);
    &:after {
      content: "";
      position: absolute;
      width: $arrow-width/2;
      height: $arrow-width/2;
      background: white;
      transform: rotate(45deg);
      top: 3*$arrow-width/4;
      left: $arrow-width/4;
      box-shadow: -1px -1px $arrow-width/2 -2px rgba(0,0,0,0.5);
    }
  }
}

.search-within-timeline-form {
  position: absolute;
  background-color: white;
  left: 0;
  top: 2.5rem;
  width: 260px;
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  width: 90%;
  max-height: calc(100% - 3rem);
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  @media (min-width: 400px) {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  @media (min-width: 1000px) {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.search-result {
  margin-top: 0.5rem;
}
.search-result-text, .search-result-media-url {
  font-size: smaller;
  overflow-wrap: break-word;
}
