.timeline-spreadsheet-editor {
  display: table;
  border-collapse: collapse;
  & > .header {
    display: table-row;
    .cell {
      font-size: 0.8rem;
      text-align: center;
      display: table-cell;
      font-weight: bold;
      background-color: #eee;
      border: 2px solid white;
    }
  }
  .row-slide-editor, .row-era-editor {
    white-space: nowrap;
    display: table-row;
    min-width: 700px;

    .cell {
      position: relative;
      height: 26.3px;
      border-top: 1px solid rgba(0,0,0,0.05);
      border-bottom: 1px solid rgba(0,0,0,0.05);
      &.index {
        font-weight: bold;
        padding: 0 0.5rem;
      }
      display: table-cell;
      font-size: 0.8rem;
      .form-control {
        font-size: 0.8rem;
        display: inline;
        padding: 0.25rem 0.325rem;
        line-height: 0.8;
        border-radius: 0;
        &:not(:focus) {
          border-color: rgba(0,0,0,0);
        }
        &::placeholder {
          color: #ccc;
        }
      }
      .input-group-addon {
        background-color: white;
        border-color: transparent;
      }
      .custom-select {
        padding: 0rem 1.4rem 0rem 0.75rem;
        height: 1.6rem;
        border-radius: 0;
        &:not(:focus) {
          border-top-color: rgba(0,0,0,0);
          border-bottom-color: rgba(0,0,0,0);
        }
      }
      textarea.form-control {
        height: 20px;
        font-size: 0.7rem;
        line-height: 1;
        display: inline;
        padding-bottom: 0;
      }
      label.bigcheck {
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 0;
        padding-left: 5px;
        margin: 0;
      }
      label.icon-checkbox {
        input[type=checkbox] {
          display: none;
          & + i.checked-icon { display: none; }
          & + i.checked-icon + i.unchecked-icon { display: inline; }
        }
        input[type=checkbox]:checked {
          & + i.checked-icon { display: inline; }
          & + i.checked-icon + i.unchecked-icon { display: none; }
        }
      }
      &.delete-btn {
        width: 1.5rem;
        text-align: center;
        color: #999;
        &:hover {
          background-color: #f00;
          color: white;
        }
        cursor: pointer;
      }
      &.category .custom-select {
        width: 100%;
      }
    }
    .cell.text-width {
      min-width: 150px;
    }

    .cell-error {
      position: absolute;
      top: 2.5rem;
      z-index: 1000;
      max-width: 300px;
      white-space: normal;
      
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0.5rem;
      box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
      border-radius: 0.25rem;
    }
  }

  $arrow-width: 16px;
  .arrow-up {
    pointer-events: none;
    position: absolute;
    top: -1rem;
    left: 0.5rem;
    z-index: 1001;
    width: $arrow-width;
    height: $arrow-width;
    overflow: hidden;
    box-shadow: 0 $arrow-width/6 $arrow-width/10 -#{$arrow-width + 1px} rgba(255,0,0,1);
    &:after {
      content: "";
      position: absolute;
      width: $arrow-width/2;
      height: $arrow-width/2;
      background: white;
      transform: rotate(45deg);
      top: 3*$arrow-width/4;
      left: $arrow-width/4;
      box-shadow: -1px -1px $arrow-width/2 -2px rgba(0,0,0,0.5);
    }
  }

  .spreadsheet-error {
    position: absolute;
    z-index: 100000;
    width: 100%;
    pointer-events: none;
    top: 4rem;
    .form-control-feedback {
      max-width: 400px;
      text-align: center;
      padding: 1rem;
      margin: auto;
      background-color: #fee;
      font-size: 1rem;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    }
  }
  .url-or-image-upload .preview-and-input {
    display: block;
  }

  .background-input {
    &.hide { display: none; }
    position: absolute;
    right: 0;
    top: 1.6rem;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    width: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    .arrow-up {
      left: auto;
      right: 1rem;
    }
    .preview-and-input {
      display: flex;
    }
  }
  .row-slide-editor .cell .background-input .form-control:not(:focus) {
    border-color: rgba(0,0,0,0.15);
  }
}
