.url-or-image-upload {
  position: relative;
  &.dragging {
    outline: 4px dashed #aaa;
  }
  .file-picker-icon {
    cursor: pointer;
    font-size: 0.8rem;
    color: #999;
    &:hover { color: #000; }
  }
  .preview {
    width: 60px;
  }
  .preview-and-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
