{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ view.kwargs.name }} {% trans "Settings" %}{% endblock %}

{% block content %}

<div class='container accounts-page'>
  <div class='row'>
    <div class='col-sm-3'>
      <h3>{% trans "Settings" %}</h3>
      <div class='list-group'>
        {% for nav in settings_nav %}
        <a href='{{nav.url}}' class='list-group-item {% if view.kwargs.slug == nav.slug %}active{% else %}list-group-item-action{% endif %}'>
          {{ nav.name }}
        </a>
        {% endfor %}
      </div>
    </div>
    <div class='col-sm-9'>
      <h2>{{ view.kwargs.name }}</h2>
      {% block panel %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}
