{% extends "base.html" %}
{% load account %}
{% load i18n %}

{% block title %}{% trans "Delete Account" %}{% endblock %}

{% block content %}
<div class='container accounts-page'>
  <h1>Delete Account</h1>
  <p>
    {% user_display user as username %}
    {% blocktrans %}
      {{username}}, are you sure you want to delete your account?  This can't be undone.
    {% endblocktrans %}
  </p>
  <form method='post' action=''>{% csrf_token %}
    <a class='btn btn-primary' href='{% url "accounts_settings" slug="account" %}'>
      {% trans "Cancel" %}
    </a>
    <button class='btn btn-danger'>
      {% trans "Delete Account Permanently" %}
    </button>
  </form>
</div>
{% endblock %}

