{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class='container accounts-page'>
  <div class='row'>
    <div class='col-sm-8 offset-sm-2'>
      <h1>{% trans "Login" %}</h1>
      <div class='auth'>
        {% if socialaccount_providers %}
          {% trans "Sign in with" as sign_in_with %}
          {% include "accounts/_socialaccount-ballot.html" with heading=sign_in_with %}
        {% endif %}

        <form class="form-horizontal" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|bootstrap_horizontal }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class='form-group'>
            <button class="btn btn-block btn-primary" type="submit">{% trans "Sign In" %}</button>
          </div>
          <div class='form-group'>
            <a class="btn btn-link" href="{% url 'account_reset_password' %}">
              {% trans "Forgot Password?" %}
            </a>
            <a class='btn btn-link pull-right' href="{{ signup_url }}">
              {% trans "Register a new account" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
