{% extends "base.html" %}
{% load account %}
{% block title %}{% user_display user %}{% endblock %}

{% block content %}
  <div class='container accounts-page'>
    <h1>{% user_display user %}</h1>
  </div>
{% endblock %}
